.loginContainer{
    height: calc(100vh - 65px);
}
.formStyle{
    border-radius: 5px;
    padding: 15px 40px 45px 40px;
}
.formStyleee{
    width: 100%;
    background: #ffffff;
}
.border-light {
    border-color: #00425f !important;
    box-shadow: 0px 0px 3px 0px #00425f;
}
.btn{
    border-radius: 5px;
    padding: 9px 2.14rem;
}
.my-4 {
    margin-bottom: 1.3rem !important;
}
.form-control {
    font-size: unset;
}
.backgoundColor2{
    background: #85b24e;
}
.fg{
    text-align: left;
    cursor: pointer;
}
.modal-content{
    background: transparent;
}
.modal-backdrop {
    background: #115675;
}
.modal-dialog .modal-content {
    box-shadow: none;
}
.modal-backdrop.show {
    opacity: 0.9;
}
form{
    margin: 0 auto;
}
.loginform-control{
    max-width: 100% !important;
}
.bgImg{
    background: url('./../../assets/img/bg.jpeg');
    width: 100% !important;
    max-width: 100% !important;
    background-size:cover;
}
@media  screen and (max-width : 600px){
    .loginContainer{
        height: auto;
        margin-top: 20px;
    }
    form{
    width: 90%;
    margin: 0 auto;
}
}