.loginContainer{
    height: calc(100vh - 65px);
}
.formStyle{
    border-radius: 5px;
}
.border-light {
    border-color: #00425f !important;
    box-shadow: 0px 0px 3px 0px #00425f;
}
.btn{
    border-radius: 5px;
    padding: 9px 2.14rem;
}
.my-4 {
    margin-bottom: 1.3rem !important;
}
.form-control {
    font-size: unset;
}
.backgoundColor2{
    background: #85b24e;
}
.fg{
    text-align: left;
    cursor: pointer;
}
.modal-content{
    background: transparent;
}
.modal-backdrop {
    background: #115675;
}
.modal-dialog .modal-content {
    box-shadow: none;
}
.modal-backdrop.show {
    opacity: 0.9;
}
form{
    width: 80%;
    margin: 0 auto;
}
.incFont{
    font-size: 40px;
    color: #00b8de;
}
.col2{
    color: #00425f;
}
.fig{
    font-size: 30px;
    font-weight: bold;
    color: #00425f;
}
.example-parent{
    border-top: solid 1px #cccccc4d;
    padding: 20px;
}
.flex-fill:not(:last-child){
    border-right: solid 1px #cccccc4d;
}

.dash2{
    padding: 20px 0px;
    font-size: 14px;
}
.dashContainer{
    background:transparent;
    /* padding: 10px 30px; */
    border-radius: 10px;
    padding: 8% 3% 3% 3%;
}
.chartjs-render-monitor {
    height: 300px !important;
}
.date{
    margin-left: 5%;
    color: #6a6c6c;
}
.dashboardWrapper{
    background: #fff;
    padding: 10px 30px
}
@media  screen and (max-width : 600px){
    .loginContainer{
        height: auto;
        margin-top: 20px;
    }
    form{
    width: 90%;
    margin: 0 auto;
}
}