.mtnLogo{
    width: 45px;
    margin: 10px;
    height: 45px;
}
.ubaLogo{
    width: 80px;
    margin: 10px;
    height: 45px;
}
.nav{
    box-shadow: 0px 1px 5px 0px black;
}
.navbar {
    padding: 0rem 1rem;
}
.navbar-brand {
    padding-top: 0rem;
    padding-bottom:0rem;

}
.nav-link{
    color: #000000 !important;
}
.blacknav{
    position: fixed;
    width: 100%;
    background: #FFF;
    z-index: 1;
    
}
.barsFont{
        color: #666;
        cursor: pointer;
        font-size: 18px;
}
.custom-ui{
    text-align: center;
    width: 500px;
    padding: 40px;
    background: #2c6392;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
    color: #fff;
}
.custom-ui > button {
    width: 160px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 14px;
}