.sidenav---sidenav---_2tBP{
    min-width: 240px !important;
    top: 65px !important;
    position: fixed;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---expanded---1KdUL .sidenav---sidenav-subnav---1EN61 {

    display: block !important;

}
.sidenav---sidenav---_2tBP{
    background: #2c6392;
    height: 100%;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T {
    /* height: 35px; */
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47:hover > .sidenav---navitem---9uL5T {

    background: rgba(0, 110, 255, 0.363);

}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-subnav---1EN61 {
    background: #ffffff1a;;
}
.sidenav---sidenav-subnav---1EN61{
    position: static;
}
.sidenav---sidenav-toggle---1KRjR{
  display:none;
}
/* .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo {    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo + .sidenav---navtext---1AE_f {

    display: flex;
    height: 100%;
    align-items: center;

} */
.moreArrow{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 10px;
}


.sidenav---sidenav-nav---3tvij {
    float: left;
    padding: 0;
        padding-top: 0px;
    margin: 0;
    clear: both;
    list-style: none;
    width: 100%;
    /* padding-top: 55px !important; */
}
.sidenav---sidenav---_2tBP {
    box-sizing: border-box;
    line-height: 20px;
    padding-top: 54px;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- .sidenav---navicon---3gCRo + .sidenav---navtext---1AE_f {
    /* display: inline-block; */
    display: flex;
}