.dataTables_length.bs-select {
    text-align: justify;
}
.react-tabs__tab-list {
    border-bottom: 0px solid #d8d8d8;;
    margin: 0 0 10px;
    padding: 0;
}
.tablist {
    border-bottom: 1px solid #d8d8d8;;
    padding: 0px;
}
.lst {
    list-style: none;
    padding: 10px;
    color: #333;
}
.lst:hover {
    background: #d8d8d8;
    cursor: pointer;
}
.modal-body> :not(:last-child) {
    margin-bottom: 20px;
}
.modal-body> :last-child{
    margin-bottom: 20px;
}
.modal-body> :first-child{
    margin-top: 10px;
}
.modal-body{
    padding: 1rem 3rem;
}
.form {
    width: 100% ;
    margin: 0 auto;
    padding: 5px 20px;

}
.sc-gzVnrw {
   display: none !important;

}
.form-control{
    min-width: 120px;
    color: #495057;
    
    /* border-color: #495057 */
}
.custom-select {
    font-size: unset;
    font-weight: normal;
    color: #495057;
    max-width: 100% !important;
    /* border-color: #495057 */
}
.form-control2{
    width: 100% !important;
    max-width: 100%;
}
.formControl3 {
    max-width: 100% !important;
}
.form-control:hover, :focus{
    box-shadow: transparent;
}
.custom-select:hover, :focus{
    box-shadow: transparent;
}
.modal-title{
    font-size: 18px;
}
.close {
    font-size: 55px;
    font-weight: lighter;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #2c6392;
}
 .dataTables_wrapper {
    width: 100% !important;
    margin: auto;
} 
.css-10nd86i {
    position: relative;
    box-sizing: border-box;
    text-align: left;
}

@media screen and (max-width: 490px){
.twoForm {
    flex-wrap: wrap;
}
.formControl3 {
    width: 100% !important;
}
.twoForm > :not(:last-child){
    margin-bottom: 15px ;
}
}

.tableWrapper > .row{
    /* flex-direction: column; */
    padding-bottom: 7%;
    position: relative;
    display: block;
    min-width: 700px;

}
.tableWrapper > .row > :not(:last-child) {
    position: absolute ;
    bottom: 20px;
    /* left: 0px; */

}

.tableWrapper > .row > :not(:first) {
    position: absolute ;
    bottom: 20px;
    /* left: 0px; */

}
.tableWrapper > .row >:first-child{
    position: relative;
    bottom: 10px;
    left: 0px;
    margin-left: auto;
    justify-content: flex-end !important;

}

/* .tableWrapper > .row > :last-child {
  
    padding-bottom: 7%;
    position: relative;
    display: block;

} */

.tableWrapper > .row > div:not(:last-child){
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;    

}
.tableWrapper > .row > .text-right > div > button{
    padding: 9px 1rem !important;
    height: 37px;
    width: 37px;
    border-radius: 50% !important;
    margin-right: 4px;
    box-shadow: none;
    background: #2c6392 !important;

}
.tableWrapper > .row > div > .form-group > span {
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;    
}
.tableWrapper > .row > div > .form-group > span > span > button {
    background: #2c6392 !important; 
    padding: 9px 1rem;
}
.tableWrapper > .row > div > .form-group:first-child {
    /* flex-direction: column; */
    margin-bottom: 0 !important;  
    /* background: #2c6392 !important;  */

}
.tableWrapper > .row > :last-child {
    width: 100%;

}

.paginationInc > div > .input-group > span > button {
    background: #2c6392 !important;
}
.paginationInc > .btn-group-page-nav > button{
    padding: 9px 20px !important;
    background: #2c6392 !important;
    color: white !important;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
}
.btn-default:not([disabled]):not(.disabled):active, .btn-default:not([disabled]):not(.disabled).active, .show > .btn-default.dropdown-toggle {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff !important;
    color: #000000 !important;
}

.tableWrapper > .row > .text-right {
    position: absolute;
    bottom: 20px;
    right: 0px;

}


.react-phone-number-input__icon-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-top: -9px;
}
.react-phone-number-input__country--native {
    position: relative;
    -webkit-align-self: stretch;
    align-self: stretch;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 0.5em;
    margin-top: -9px;
}
.react-phone-number-input__input {
    height: calc(0.3rem * 6);
    outline: none;
    border-radius: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #C5D2E0;
    transition: border 0.1s;
    font-size: inherit;
    margin-top: -2px;
}