
.tableWrapper > .row{
    /* flex-direction: column; */

}
.tableWrapper > .row > div:not(:last-child){
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;    

}
.tableWrapper > .row > .text-right > div > button{
    padding: 9px 1rem !important;
    height: 37px;
    width: 37px;
    border-radius: 50% !important;
    margin-right: 4px;
    box-shadow: none;
    background: #2c6392 !important;

}
.tableWrapper > .row > div > .form-group > span {
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;    
}
.tableWrapper > .row > div > .form-group > span > span > button {
    background: #2c6392 !important; 
    padding: 9px 1rem;
}
.tableWrapper > .row > div > .form-group:first-child {
    /* flex-direction: column; */
    margin-bottom: 0 !important;  
    /* background: #2c6392 !important;  */

}

.paginationInc > div > .input-group > span > button {
    background: #2c6392 !important;
}
.paginationInc > .btn-group-page-nav > button{
    padding: 9px 20px !important;
    background: #2c6392 !important;
    color: white !important;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
}
.btn-default:not([disabled]):not(.disabled):active, .btn-default:not([disabled]):not(.disabled).active, .show > .btn-default.dropdown-toggle {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff !important;
    color: #000000 !important;
}
