.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  font-size: 13px !important;
}
.sg{
  font-size: 16px !important;
}
.sg2{
  font-size: 14px !important;
}
.sg3{
  font-size: 25px !important;
}
.bodyWrapper{
  width: 100%;
}
.sideBar{max-width: 240px; flex: 1;}
.Dashboard{
  width: calc(100% - 240px);
  background: #eff2f7;
  /* padding: 3%; */
  /* margin-top: 65px; */
  flex: 2;
}
.noMargin{
  margin: 0;
}
.bold{
  font-weight: bold;
}
.App-link {
  color: #61dafb;
}
.displayFlex{
  display: flex;
}
.displayFlexColumn{
  display: flex;
  flex-direction: column;
}
.displayCenterFlex{
  display: flex;
  justify-content: center;
}
.displayLeftFlex{
  display: flex;
  justify-content: flex-start;
}
.displayRightFlex{
  display: flex;
  justify-content: flex-end;
}
.displayFlexSpaceAround{
  display: flex;
  justify-content: space-around;
}
.displayFlexSpaceBetween{
  display: flex;
  justify-content: space-between;
}
.justifyCenterFlex{
  justify-content: center;
}
.alignCenterFlex{
  align-items: center;
}
.fullWidth{
  width: 100%;
}
.fulllHeight{
  height: 100vh;
}
.equalWidth2{
  flex: 1;
}
.equalWidth{
  width: 50%;
}
.siteColor{
  color: #2c6392 !important;
}
.siteColor2{
  color: #ffffff !important;
}
.backgoundColor{
  background: #2c6392 !important;
}
.transparent{
  background: transparent;
}
.colred{
  color: red;
}
.lightweight{
  font-weight: lighter;
}
.dashContainer{
  background:transparent;
  padding: 8% 3% 3% 3%;
  border-radius: 10px;
}
.dash{
  padding: 20px 0px;
  font-size: 14px;
  border-bottom: solid 1px rgba(102, 102, 102, 0.18);
  margin-bottom: 20px;
}
.textLeft{
  text-align: left;
}
.flexflow{
  flex-flow: wrap;
}
.flexWrap{
  flex-Wrap: wrap;
}
.barsFont{
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media  screen and (max-width : 702px){
  .sideBar {
    position: absolute;
}
.Dashboard {
  width: 100%;
}
.barsFont{
  display: block;
}
  
}
